@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#form2-0 .mbr-section-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
#form2-0 .mbr-section-subtitle {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
